.gifs{
   align-content: center;
}
button{
    background-color: black;
    color: white;
    margin: 5px;
}
body{
    background-image: url("../images/tv-2619649_1280.jpg");
}
#gifContainer{
    width:620px;
    overflow: auto;
    position:absolute;
    top:210px;
    right:10%;
    left:20%;
    margin:5px;
    

}
#cartoon-form{
    position:absolute;
    top:180px;
    left:20%;
}
input{
    background-color: black;
    color:white;

}
#cartoon-input{
    background-color: white;
    color:Black;

}
label{
    font-size: 20px;
    font-weight: bold;
}

img.gifs{
    margin: auto;
    align-self: center;
}
#buttonsDiv{
    width: 70%;
    margin: 0 auto;

}
p{
    color:black;
    font-weight: bolder;
    font-size: 20px;
    width: 50%;
}
.gifDiv{
    margin:0 auto;
    width:50%;
    float:left;
}
h1{
    color: orangered;
    position: relative;
    left:30%;

}